/* https://www.princexml.com/forum/topic/1341/how-do-i-number-lines-of-a-paragraph */
@font-face {
    font-family: 'romancyrillic_stdregular';
    src: url('fonts/romancyrillic_std-webfont.woff2') format('woff2'), 
url('fonts/romancyrillic_std-webfont.woff') format('woff'), 
url('fonts/romancyrillic_std-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bukyvede_lightregular';
    src: url('fonts/bukyvede_light-webfont.woff2') format('woff2'), 
url('fonts/bukyvede_light-webfont.woff') format('woff'), 
url('fonts/bukyvede_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bukyvedebold';
    src: url('fonts/bukyvede-bold-webfont.woff2') format('woff2'), 
url('fonts/bukyvede-bold-webfont.woff') format('woff'), 
url('fonts/bukyvede-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bukyvedeitalic';
    src: url('fonts/bukyvede-italic-webfont.woff2') format('woff2'), 
url('fonts/bukyvede-italic-webfont.woff') format('woff'), 
url('fonts/bukyvede-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bukyvederegular';
    src: url('fonts/bukyvede-regular-webfont.woff2') format('woff2'), 
url('fonts/bukyvede-regular-webfont.woff') format('woff'), 
url('fonts/bukyvede-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    position: relative;
    overflow: hidden;
    padding-right: 3em;
}
div.p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 40px;
}
div.w {
    display: flex;
    flex-direction: column;
}
span.rec,
span.pldr,
span.n {
    padding: 0.3em;
}
span.rec {
    font-family: "romancyrillic_stdregular", "RomanCyrillic Std";
    /*margin-bottom: 0.5em;*/
    border-bottom: lightgray 1px solid
}
span.pldr,
.os {
    font-family: "bukyvederegular", "Bukyvede";
    font-size: 110%;
    letter-spacing: 0.05em;
}
div.label_group > span {
    font-family: serif;
}
span.n {
    text-align: center;
    border-top: lightgray 1px solid;
    color: gray;
    font-size: smaller;
}
.note {
    background-color: pink;
    font-size: initial; /* Global stylesheet reduces size of notes */
}
.diff {
    background-color: lightblue;
}
.annotation {
    visibility: hidden;
    background-color: yellow;
    padding: 0.5em;
    margin: 0.5em;
    position: absolute;
    border: 1px gray solid;
}
div#labels {
    margin-top: 0;
    position: absolute;
    top: 0;
    width: 40px;
    color: gray;
    border-right: 1px lightgray solid;
    margin-right: 1em;
}
div.label_group {
    display: flex;
    flex-direction: column;
}
span.gloss::before {
    content: " ‘";
}
span.gloss::after {
    content: "’ "
}
footer {
    margin-top: 1em;
    margin-left: 0.5em;
    font-size: smaller;
}
